.previewLeftContainer {
  margin-top: 12vh;
  margin-left: 20%;
  width: 40vw;
  height: auto;
}

/* To use or not to use? */
.previewListCard {
  padding: 5vh;
  padding-bottom: 3vh;
  background-color: lightgray;
  border-radius: 15px;
}

.itemShell {
  margin-bottom: 10px;
  margin-left: 0px;
  width: 98%;
  padding: 10px;
  padding-left: 30px;
  background-color: #ededed;
  border-radius: 10px;
}

.listScroll {
  overflow: auto;
  max-height: 40vh;
  border-radius: 10px;
}

.previewRightContainer {
  padding: 5vh;
  padding-bottom: 3vh;
  background-color: transparent;
  width: 75%;
}

.shareBtn {
  width: 30%;
  margin-top: 25vh;
  padding: 10px;
}

.copyBtn {
  width: 30%;
  margin-top: 10vh;
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ededed;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}
