body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Bootswatch overwrites */
:root {
  --bs-primary-rgb: 69, 130, 236;
  --bs-secondary-rgb: 173, 181, 189;
  --bs-success-rgb: 2, 184, 117;
  --bs-info-rgb: 23, 162, 184;
  --bs-warning-rgb: 240, 173, 78;
  --bs-danger-rgb: 217, 83, 79;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 52, 58, 64;
}

.test {
  width: 100px;
  margin: 50px;
}
